amqp
asgiref
attrs
autobahn
Automat
billiard
celery
certifi
cffi
channels
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
crispy-bootstrap5
cron-descriptor
cryptography
daphne
defusedxml
diff-match-patch
Django
django-admin-honeypot
django-admin-honeypot-updated-2021
django-cacheops
django-celery-beat
django-celery-results
django-ckeditor
django-cleanup
django-cors-headers
django-countries
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-filter
django-formtools
django-import-export
django-ipware
django-jazzmin
django-js-asset
django-jsonfield
django-mathfilters
django-mptt
django-newsletter
django-otp
django-phonenumber-field
django-ranged-response
django-ratelimit
django-recaptcha
django-redis
django-simple-captcha
django-simple-history
django-storages
django-stripe-payments
django-timezone-field
django-two-factor-auth
django-unfold
djangorestframework
et_xmlfile
funcy
gunicorn
hyperlink
idna
incremental
kombu
ldif3
MarkupPy
oauthlib
odfpy
openpyxl
packaging
phonenumbers
pillow
prompt_toolkit
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
pypng
python-card-me
python-crontab
python-dateutil
python-dotenv
python-ipware
python3-openid
pytz
PyYAML
qrcode
redis
requests
requests-oauthlib
service-identity
setuptools
six
sorl-thumbnail
sqlparse
stripe
surlex
tablib
Twisted
txaio
typing_extensions
tzdata
unicodecsv
urllib3
vine
wcwidth
whitenoise
xlrd
xlwt
zope.interface